h2{
    color: #102a42;
    font-size:xx-large;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 550px;
    margin-bottom: 0;
    letter-spacing: 2px;
}
h3{
    letter-spacing: 1px;
}
hr{
    width: 90px;
    height: 3px;
    background-color: blue;
}
.main{
    width: 600px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img{
    width: 600px;
    height: 300px;
}
.data,p{
    padding: 5px 20px;
}
button:nth-child(1){
    background:none;
    border: none;
    color: blue;
}
.cancel{
    color: rgb(69, 0, 0);
    background:none;
    border: 1px solid red;
    border-radius: 5px;
    width: 170px;
    padding: 5px;
    margin-left: 230px;
    margin-bottom: 20px
}
p{
    margin-top: 0;
    color: #173b5c;
    font-size: medium;
}
.data{
    display: flex;
    justify-content:space-between;
}
.price{
    right:700px ;
    margin-top: 20px;
    color: blue;
    background-color: #8bcbf956;
    padding: 2px;
    height: 20px;
    width: 60px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
